* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* .............................................................style of header........................................... */



.head {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    height: 815px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    border: none;
}




.banner {
    position: absolute;
    top: 170px;
    right: 190px;
    left: 845px;
    text-align: right;
    color: #FFFFFF;
}




.ban-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 25px;
}





.ban-description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    ;

}




.button {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: none;

}





/* ...................................................................main.............................................. */
main {

    padding: 140px 205px;
    margin: 5px;
}








/* ...........................................................main/failure section..................................... */




.failure {
    display: flex;
    gap: 90px;
    text-align: right
}



.failure-content {
    margin-top: 150px;


}



.failure-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 35px;
}



.failure-description {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
    color: #444343;
}






.failure-list {


    list-style-image: url(../images/icons/icons8-done--16.png);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #444343;
    margin-left: 85px;

}









/* ................................................................main/encourage.............................................. */


.encourage {

    background-repeat: no-repeat;
    margin-top: 180px;
    color: #29bccc;
    display: flex;


}

.encourage>.img {
    border-radius: 5px;
    padding-top: 30px;

}


.encourage-blog {

    position: relative;
    text-align: justify;
    text-align: right;


}

.encourage-blog>h2 {

    margin-bottom: 40px;
    font-weight: 600;
    font-size: 35px;
    color: black;
}

.encourage-blog>p {


    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}





/*.................................................................main/Plan Section..............................................*/


.plan {
    padding-top: 130px;
}



.plan-title {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 30px;
}



.plan-item {
    display: flex;
    justify-content: space-around;
}



.plan-item div h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}





/* ..............................................................main/mindset .............................................*/




.mindset {
    margin-top: 130px;
    height: 181px;
    background-image: url('../images/gradient1.png'), url(../images/watch.png);
    background-repeat: no-repeat;
    padding: 60px 615px 60px 65px;
    border-radius: 10px;



}

.mindset>h2 {
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;
}



/* .....................................................................footer.......................................... */
.con-info {
    background-color: black;
    width: 100%;
    height: 577px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;




}

/* .................................................................footer/future.................................. */
.future {
    width: 485px;
    height: 317px;
    margin-top: 100px;


}

.future-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 45px;
}

.future>p {
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 15px
}

.contact {
    display: flex;

    justify-content: left;
    gap: 70px;

}


/* ......................................................footer/subscribe.............................................. */

.subscribe {
    margin-top: 100px;
    width: 325px;
    height: 204px;
}

.subscribe-title {
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 35px;
}



.email {

    margin-bottom: 25px;
    width: 325px;
    height: 64px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.sub-button {
    width: 160px;
    height: 64px;
    border-radius: 10px;
    border: none;
    background: #005FAC;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}